.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.hero-section .text-section {
    position: absolute;
    margin: 100px;
    top: 20%;
    right: 0;
    left: 0;
    text-align: left;
    width: 50%;
    
}