/* Mũi tên mặc định của Swiper */
.swiper-button-prev,
.swiper-button-next {
    color: rgb(19, 19, 19) ;
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-pagination {
    bottom: 10px;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 20px ;
    height: 5px ;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    margin: 0 8px;
    border-radius: 2px ;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background-color: #000;
    opacity: 1;
    transform: scale(1.3);

}